
.cart-container {
    align-items: center;
    flex: 1;
    max-width: 550px; /* Set maximum width */
    margin: auto;
    margin-top: 3%;
    background-color: #fff9e6;
    border: 2px solid #193d10;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px;
}

h2{
    text-align: center;
}

.cart-item {
    display: flex;
    flex-direction: column; /* Change to column layout for responsiveness */
    justify-content: center;
    margin: 10px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.cart-item img {
    width:200px;
    height:200px;
    border-radius:10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.cart-item p {
    margin: 0;
}

.cart-item button {
    display: inline-block;
  white-space: nowrap;
    color: black;
    font-weight: bolder;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #7fff00;
    transition: background-color 0.3s;
    width: 50px;
}

#payment {
    display: inline-block;
  white-space: nowrap;
    width:250px;
    background-color: #7fff00;
    font-weight: bolder;
    font-size:18px;
    padding:5px;
    text-decoration: none;
    color: black;
}

.cart-item #remove {
    color: red;
    width: 80px;
}

.cart-item #remove:hover {
    background-color: #ffd6d6;
}


.notification {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value (0.9 for 90% opacity) */
    color:greenyellow;
    font-weight: bolder;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.transparent-modal {
    background: none; /* Remove background color */
    border: none; /* Remove border */
    box-shadow: none; /* Remove box shadow */
}

.transparent-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}



#open{
    background-color: #7fff00;
    font-weight: bolder;
    color:black;
    padding:8px;
    width: 150px;
    font-size:18px;
    position: relative;
    bottom:90px;
    margin-left:800px;
}


#close{
    background-color: #7fff00;
    font-weight: bolder;
    color:black;
    padding:8px;
    width: 150px;
    font-size:18px;
    margin-left:50px;
}


/* Responsive styling */
@media screen and (max-width: 600px) {
    .modal{
        width:120%;
        max-width: 90%; 
    }
    .cart-container {
        max-width:120%; /* Adjust maximum width for smaller screens */
        padding: 10px; /* Increase padding for smaller screens */
        top: 10px; /* Adjust sticky position for smaller screens */
      }
    
      #payment {
        width:250px; /* Make payment button full width for smaller screens */
      }

    #open{
        margin:0;
        position:relative;
        top:2px;
    }
}