
.grocery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.grocery-card {
    flex: 0 0 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family:sans-serif;
  }

  .grocery-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .grocery-card h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }

  .grocery-card p {
    margin: 10px 0;
    color: #555;
  }

  .grocery-card .btn {
    background-color: chartreuse;
    color: rgb(37, 36, 36);
    font-weight: bold;
    width: 50%;
    font-size: 15px;
    font-family:sans-serif;
  }

  select {
    width:60%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    text-align:center;
    font-family:sans-serif;
}


/* Modal styles */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed; /* Fixed position to overlay on top of the content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure modal is above other content */
}

/* Show modal when isCartOpen is true */
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styles */
.cart-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto; /* Enable scrolling if content exceeds modal height */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Button styles */
.modal button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

/* Close button styles */
.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}


@media screen and (max-width: 600px) {
    select {
        font-size: 14px;
    }
}