.contact-us-container {
    display: flex;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 580px;
  background-color: rgb(218, 215, 215);
  }
  .form-container {
    flex: 1;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }
  
#contact-heading{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .contactl {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
  }
  
  .contacti{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
#contact-b{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: black;
    margin-top: 10px;
  }
  
#contact-b:hover {
    background-color: #0056b3;
  }
  .contact-image {
    flex: 1;
  background-image: url('https://i.postimg.cc/2yTTj0G0/contact.png'); /* Replace with your image path */
  background-size: cover;
  border-radius: 5px;
  }
  @media screen and  (max-width:576px){
    .contact-us-container {
      padding: 10px;
      height: 680px;
    }
    #contact-heading {
      font-size: 24px;
      
    }
    .contact-image {
      display: block;
      margin-top: 500px;
      border-radius: 5px;
      width: 100%;
      height: 150px; 
      margin-left: -150px;
    }
    .contacti{
      width: 300px;
    }
  }
  @media screen and (min-width:576px) and (max-width: 768px) {
    .contact-us-container {
      padding: 15px;
      height: 610px;
    }
  
    #contact-heading {
      font-size: 28px;
    }
  
    .contactl {
      font-size: 16px;
    }
  
    .contacti {
      font-size: 16px;
      width: 500px;
    }
  
    #contact-b {
      font-size: 16px;
      padding: 10px 20px;
    }
  
    .contact-image {
      display: block;
      margin-top: 440px;
      border-radius: 5px;
      width: 50px;
      height: 150px; 
      margin-left: -200px;
    }
  }
  