body {
  background-color: #ffffff;
}

.homepage {
  text-align: center;
}

.groceries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.groceries-list h2 {
  width: 100%;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.groceries-list h3 {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.grocery-card .btn {
  background-color: chartreuse;
  color: rgb(37, 36, 36);
  font-weight: bold;
  width: 50%;
  font-size: 15px;
}

 .btn-showall{
  background-color: rgb(200, 202, 198);
  color: rgb(37, 36, 36);
  font-weight: bold;
  width: 10%;
  font-size: 15px;
  margin-left: 75%;
  
}
.grocery-card {
  flex: 0 0 280px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.grocery-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.grocery-card h3 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.grocery-card p {
  margin: 10px 0;
  color: #555;
}

.category-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.category-container h3 {
  justify-content: center;
  margin-top:10px;
  margin-bottom:15px;
}



