#box1{
    background: #43C6AC; 
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#userform{
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
/* #userh{
    margin: 20px;
    margin-top: 40px;
    font-size: 35px;
    font-family: cursive;
    text-align: center;
} */
#userb{
    margin: 10px;
    padding: 10px;
    margin-left: 150px;
    margin-top: 50px;
    width: 200px;
    font-size: 20px;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    background-color:rgb(20, 166, 20);
    border: 1px solid black;
    margin-bottom: 20px;
}
#userb:hover{
    background-color: rgb(163, 163, 17);
}


#logina{
    margin-left: 160px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    color: brown;
}