#box3{
    background: #2193b0; 
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
background: linear-gradient(to right, #6dd5ed, #2193b0); 
    flex-direction: column;
    width: 100%;
    height: 570px;
}
#signup1{
    background-color: white;
    margin-top: 30px;
    width: 450px;
    margin-left: 400px;
    padding: 10px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
#registeruserh{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
    margin-bottom: 50px;
}
#registerb {
    margin-left: 30px;
    margin-top: 60px;
    width: 350px;
    background-color: rgb(227, 19, 102);
    color: white;
    font-size: 20px;
    height: 40px;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#registerl1{
    margin-top: 100px;
    margin-left: 20px;
}
#registerl2{
    margin-top: 150px;
    margin-left: 20px;
}
#registerinput1{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 26px;
    width: 350px;
    margin-bottom: 20px;
    height: 30px;
}
#registerinput2{
    margin-left: 26px;
    width: 350px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
#shopkeeper-register-link{
    margin-left: 90px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color: rgb(101, 101, 206);
}