
.nav-link.dark-mode{
    color:white !important;
}

.navbar-brand.dark-mode{
    color:white !important;
}


.navbar-brand{
    font-family: 'Poppins', sans-serif;
}
  
  .navbar {
    padding: 20px;

  }
  
  .nav-link {
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: black;
  }


